body{
    margin: 0;
    padding: 0px;
    text-align: center;
    font-family:cursive,Verdana, Geneva, Tahoma, sans-serif;
    
}

h1{
    width: 50%;
    margin-top: 0;
    margin: 0 auto;
}

.blue{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: relative;
    left: 0px;
}
.yellow{
    height: 200px;
    width: 200px;
    background-color: yellow;
    position: relative;
    left: 200px; 
    bottom: 200px;
}
.red{
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
    left: 400px;
    bottom: 400px;
}
.cl1{
    position: relative;
    left: 300px;
    margin-top: 100px ; 
}
.cl2{
    position: relative;
    bottom: 300px;
}
.icon{
    height: 10%;
    width: 10%;
    visibility: hidden;
}