<!DOCTYPE html>
<html>
<head>
  <title>replit</title>
</head>
<body>
  <h1>Hello world</h1>
  this is <u><b>hello </b><em>gusg</em></u><hr>so</hr>
  <sub>much</sub> fun
  H<sub>2</sub>O
  <ul type="none">
    <li>Raddish</li>
    <li><a href="https://en.wikipedia.org/wiki/Potato"><img src="qassets/index.jpeg" height="100" width="150" align="right"></a>Potatoes</li>
    <li><a href="https://en.wikipedia.org/wiki/Onion"><img src="qhttps://live.staticflickr.com/65535/50312281281_e8fafe2895_b.jpg" height="100" width="150" align="right"></a>Onions</li>
  </ul>
  <ol type="a">
    <li>Mumbai</li>
    <li>Delhi</li>
    <li>indore</li>
    <li>Pune</li>
  </ol>
  <dl>
    <dt><strong>HTML</strong>
    <dd><em>This Stands for Hyper Text Markup Language</em></dd>
    </dt>
    <dt><ins>HTTP</ins>
    <dd><em>This Stands for Hyper Text Transfer Protocol</em></dd>
    </dt>
  </dl>

<a href="table.html">table</a>
  <a href="form.html">form</a>
  <a href="JWST.html">JWST</a>
</body>
  
</html>
