<!DOCTYPE html>
<head>
  <title>James Web Space Telescope</title>
  <style>
    /*the element selector*/
    p{
      text-align: center;
      color: greenyellow;
    }
    /*Id Selector*/
    #para1{
      text-align: justify;
      color: red;
    }
    /*Class Selector*/
    .center{
      text-align:center;
      color: skyblue;
    }
    p.large{
      font-size:  150%;
    }
    /*class selectors for specific elements only*/
    h2.center{
      color: navy;
      text-align: left;
    }
    /*universal selector*/
    *{
    text-align:center;
    color: cyan;
    background-color:black;
    }
    /*grouping selectors*/
    h2,li{
      color: red;
      text-align: justify;
    }

    p{
      font-family: cursive;
      font-style:oblique;
      font-weight:bold;
      font-size:2vw; /*14px,0.875em,*/ /*google fonts*/
    }
    h1{
      font-family:sans-serif;
      color:orangered;
    }

    
  </style>
</head>
<body>
  <h1 id="top">James Webb Space Telescope(JWST)</h1>
  <p><img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JWST_spacecraft_model_2.png" height=200 width=250 align="right"></p>
<p>The <strong>James Webb Space 
<!-- Hello James -->
  Telescope</strong> (JWST) is a space telescope designed primarily to conduct infrared astronomy.</p> 
<p id="para1"> <i>JWST was launched December 25, 2021 on an ESA Ariane 5 rocket from Kourou, French Guiana, and as of April 2022 is undergoing testing and alignment.</i></p>
<p class="center">The most powerful telescope ever launched into space, its greatly improved infrared resolution and sensitivity will allow it to view objects too old, distant, and faint for the Hubble Space Telescope.</p>
<p class="center large">This is expected to enable a broad range of investigations across the fields of astronomy and cosmology, such as observations of first stars and the formation of the first galaxies, and detailed atmospheric characterization of potentially habitable exoplanets.
</p>
<hr>
<h2 class="center">Orbit of JWST</h2>
  <p>JWST operates in a halo orbit, circling around a point in space known as the Sun-Earth L2 Lagrange point, approximately 1,500,000 km (930,000 mi) beyond Earth's orbit around the Sun.</p>
  <p>Objects near this Sun-Earth L2 point can orbit the Sun in synchrony with the Earth, allowing the telescope to remain at a roughly constant distance with continuous orientation of its unique sunshield and equipment bus toward the Sun, Earth and Moon. </p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6cUe4oMk69E" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<img src="https://stsci-opo.org/STScI-01F6QXZP80QG7SNS3M7YZWDNN3.png" height=300 width=600 align="right">
<hr>
<h2>Scintific Instruments</h2>
  <ul>
    <li><strong><ins>NIRCam(Near InfraRed Camera): </ins></strong>It is an infrared imager which will have a spectral coverage ranging from the edge of the visible (0.6 μm) through to the near infrared (5 μm). There are 10 sensors each of 4 megapixels. NIRCam will also serve as the observatory's wavefront sensor, which is required for wavefront sensing and control activities, used to align and focus the main mirror segments.</p></li>
    <li><strong><ins>NIRSpec (Near InfraRed Spectrograph): </ins></strong>It will also perform spectroscopy over the same wavelength range.The NIRSpec design provides three observing modes: a low-resolution mode using a prism, an R~1000 multi-object mode, and an R~2700 integral field unit or long-slit spectroscopy mode. Switching of the modes is done by operating a wavelength preselection mechanism called the Filter Wheel Assembly, and selecting a corresponding dispersive element (prism or grating) using the Grating Wheel Assembly mechanism. Both mechanisms are based on the successful ISOPHOT wheel mechanisms of the Infrared Space Observatory.</li>
    <li><strong><ins>MIRI (Mid-InfraRed Instrument): </ins></strong>It will measure the mid-to-long-infrared wavelength range from 5 to 27 μm. It contains both a mid-infrared camera and an imaging spectrometer.The temperature of the MIRI must not exceed 6 K (−267 °C; −449 °F): a helium gas mechanical cooler sited on the warm side of the environmental shield provides this cooling.</li>
    <li><strong><ins>FGS/NIRISS (Fine Guidance Sensor and Near Infrared Imager and Slitless Spectrograph): </ins></strong>It is used to stabilize the line-of-sight of the observatory during science observation. Measurements by the FGS are used both to control the overall orientation of the spacecraft and to drive the fine steering mirror for image stabilization. Near Infrared Imager and Slitless Spectrograph (NIRISS) is module for astronomical imaging and spectroscopy in the 0.8 to 5 μm wavelength rangeBecause the NIRISS is physically mounted together with the FGS, they are often referred to as a single unit; however, they serve entirely different purposes, with one being a scientific instrument and the other being a part of the observatory's support infrastructure.</li>
  </ul>
<h4><a href="https://webb.nasa.gov/content/webbLaunch/whereIsWebb.html">Click here for live Status of JWST</a></h4>
  <p align="right"><a href="#top">Top</a></p>
</body>
<body>
  <hr>
  <form>
    <p>Subscribe here to become our community member and Provide imformation or articles about your favoirite Topics:</p>
    <p>Name: <input type="text"></p>
    <p>E-Mail: <input type="text"></p>
    <p>DOB: <input type="date"></p>
    <p>Occupation:
      <ul>
        <li>Student<input type="radio" name="ocp"></li> 
        <li>Teacher<input type="radio" name="ocp"></li>
        <li>Hobbiest<input type="radio" name="ocp"></li>
      </ul>
    </p>
    <p><input type="submit" value="Join"></p>
  </form>
</body>
<body>
  <h3>References</h3>
  <p><a href="https://en.wikipedia.org/wiki/James_Webb_Space_Telescope">https://en.wikipedia.org/wiki/James_Webb_Space_Telescope</a></p>
  <p><a href="https://jwst.nasa.gov/">https://jwst.nasa.gov/</a></p>
</body>
</html>