<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>

<% if (day_today==="Saturday" || day_today==="Sunday"){ %>
        <h1 style="color: blue;">It's <%=day_today%> </h1>
<% } else { %>
        <h1 style="color: rgb(0, 214, 0);">It's <%=day_today%> </h1>
<% } %>

</body>
</html>
